@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth; /* Esto hace la magia de deslizarse */
}

/* Opcional: Ocultar la barra de scroll para un look más limpio */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}